# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.DS_Store
.idea
.env.development
.env.staging

# Ignore bundler config.
/.bundle

# Ignore the tags file used by VIM
tags

# Ignore Byebug command history file.
.byebug_history

# Ignore .git as it's not needed with the docker built.
.git
.cache

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore Dockerfile
/Dockerfile

# Not needed in Docker build
test/
spec/
.github/
helm-chart/
scripts/
doc/
*.md
