name: build and push docker image

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: build the image
        run: |
          docker buildx build \
            --tag brotandgames/ciao:$(cat ./public/version) \
            --platform linux/amd64,linux/arm/v7,linux/arm64 \
            --load

      - name: push the image
        if: "!contains(github.ref, '-rc')"
        run: |
          docker buildx build --push \
            --tag brotandgames/ciao:$(cat ./public/version) \
            --tag brotandgames/ciao:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .

